@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&family=Roboto:wght@400;500&display=swap');

@import "mixin.scss";

*,
:before,
:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
    scroll-behavior: smooth;
}

body {
    font-size: 1rem;
    background-color: #F9F9FF;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    padding: 0 10rem;

    &--form {
        width: 100%;
        max-width: 1120px;
        margin: 0 auto;
    }
}

.header {
    position: fixed;
    top: 0;left: 0;right: 0;
    z-index: 1000;
}

.sticky .header__inner {
    background: linear-gradient(48deg,
    rgba(255,255,255,1) 0%,
    rgba(0,0,0,.3) 60%);
    padding: 1rem 10rem;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    transition: background .2s linear, padding .2s linear;

    padding: 3.3rem 10rem;
    margin-bottom: 5.3rem;
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    @include fonts (2.5rem, 500, "Roboto", #000);

    & > span {
        color: #0D13D7;
    }

    margin-left: 0.6rem;
}

.nav {
    display: flex;
    align-items: center;
}

.nav__link {
    @include fonts (1.56rem, 500, "Poppins", #fff);

    position: relative;

    margin-right: 2.3rem;

    &:after {
        content: "";

        display: block;
        position: absolute;
        bottom: -5px; left: 0;
    
        width: 100%;
        height: 3px;
    
        background-color: #0D13D7;
    
        transition: transform .3s linear;
    
        transform: scale(0); 
    }

    &:hover:after {
        transform: scale(1);
    }
}

.nav__btn {
    @include fonts (1.3rem, 500, "Poppins", #000);

    display: inline-block;
    vertical-align: middle;

    padding: 0.8rem 2.3rem;

    border-radius: 50px;

    background-color: #fff;

    transition: background .5s linear, color .3s linear;

    &:hover {
        background-color: #000;
        color: #fff;
    }
}

.intro {
    background: url(../img/intro/intro.png) center no-repeat;
    background-size: cover;

    width: 100%;
    min-height: 1000px;

    z-index: -1;
}

.intro__inner {
    display: flex;
    justify-content: space-between;

    padding-top: 13.3rem;
}

.intro__left {
    width: 50%;
}

.intro__right {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro__img {
    margin-right: 1.3rem;

    &:last-child {
        margin-right: 0;
    }
}

.intro__title {
    @include fonts (3.36rem, 500, "Roboto", #fff);

    line-height: 1.3;

    margin-bottom: 1.46rem;
}

.intro__text {
    @include fonts (24px, 400, "Roboto", #fff);

    line-height: 1.3;

    margin-bottom: 2rem;
}

.download__btn {
    @include fonts (1.6rem, 400, "Roboto", #000);

    display: inline-block;
    vertical-align: middle;

    padding: 2rem 2.6rem;

    border-radius: 1.3rem;

    background-color: #fff;

    transition: background .5s linear, color .3s linear;

    &:hover {
        background-color: #000;
        color: #fff;
        fill: #fff;
    }
}

.download {
    width: 1.6rem;
    height: 1.6rem;

    vertical-align: middle;

    margin-left: 1.3rem;
}

.intro__more--btn {
    @include fonts (1.6rem, 400, "Roboto", #fff);

    display: inline-block;
    vertical-align: middle;
    position: relative;

    padding: 2rem 2.6rem;

    border-radius: 20px;

    &:after {
        content: "";

        display: block;
        position: absolute;
        bottom: 20px;left: 40px;
        
        width: 51%;
        height: 3px;

        background-color: #fff;

        transform: scale(0);

        transition: transform .3s linear;
    }

    &:hover:after {
        transform: scale(1);
    }
}

.arrow--intro {
    fill: white;

    width: 2rem;
    height: 2rem;

    vertical-align: middle;

    margin-left: 1.3rem;
}

.section {
    text-align: center;

    padding-top: 10rem;
}

.section__inner {
    padding-bottom: 6.6rem;
}

.section__title {
    @include fonts (3.6rem, 500, "Poppins", #000);

    line-height: 1;

    margin-bottom: 2.6rem;
}

.section__text {
    @include fonts (1.6rem, 400, "Roboto", #707070);
}

.featured__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.featured__item {
    width: 100%;
    max-width: 428px;

    display: flex;
    justify-content: center;
    align-items: center;
    
    flex-direction: column;

    text-align: center;

    padding: 3rem;
    margin: 1.6rem 2rem;
    
    border-radius: 20px;
    box-shadow: 0px 0px 80px -12px rgba(112,112,112,.2);
}

.featured__img {
    margin-bottom: 1.3rem;
}

.featured__title {
    @include fonts (2.5rem, 500, "Roboto", #000000);
    margin-bottom: 1.3rem;
}

.featured__text {
    @include fonts (1.6rem, 400, "Roboto", #707070);
}

.whyus__inner {
    display: flex;
    justify-content: left;
    align-items: center;
}

.whyus__left {
    margin-right: 6.6rem;
}

.whyus__right {
    text-align: left;
}

.whyus__title {
    @include fonts (2.8rem, 600, "Poppins", #000);

    line-height: 1.3;

    margin-bottom: 2rem;
}

.whyus__text {
    @include fonts (1.6rem, 400, "Roboto", #707070);

    margin-bottom: 3.6rem;
}

.whyus__btn {
    @include fonts (1.6rem, 500, "Poppins", #707070);

    display: inline-block;
    vertical-align: middle;

    position: relative;

    padding: 0.8rem 2rem;

    background-color: transparent;
    color: #707070;

    border: 2px solid #707070;
    border-radius: 10px;

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;bottom: 0;
        left: 0;right: 0;

        z-index: -1;
        width: 100%;
        height: 100%;
        background-color: transparent;

        box-shadow:  0px 0px 20px rgba(0,0,0,.3);

        opacity: 0;

        transition: opacity .2s linear;
    }

    &:hover:after {
        opacity: 1;
    }
}

.arrow__whyus {
    fill: #707070;

    width: 3.3rem;
    height: 3.3rem;

    vertical-align: middle;

    margin-left: 1.3rem;
}

.goals__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.goal__item {
    display: flex;
    justify-content: left;
    align-items: center;

    text-align: left;

    &--active {
        background-color: #F9F9FF;
        padding: 3.3rem;

        border-radius: 90px 0 90px 0;

        box-shadow: 10px 10px 20px rgba(0,0,0,.2);
    }
}

.goal__img {
    margin-right: 0.8rem;
}

.goal__number {
    @include fonts (2.3rem, 500, "Poppins", #1453FF);
}

.goal__title {
    @include fonts (1.6rem, 500, "Poppins", #242424);
}

.portfolio__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio__img img {
    border-radius: 40px;
    box-shadow: 0 0 60px rgba(0,0,0,.2)
}

.feedback {
    padding-top: 13.3rem;
}

.feedback__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 3.3rem;
}

.feadback__title {
    @include fonts (3.6rem, 500, "Roboto", #010000);

    margin-bottom: 2.6rem;
}

.feedback__text {
    @include fonts (1.6rem, 400, "Roboto", #707070);
}

.feedback__btn {
    @include fonts (1.6rem, 500, "Poppins", #707070);

    display: inline-block;
    vertical-align: middle;

    position: relative;

    padding: 0.8rem 2rem;

    background-color: #F3F3F3;
    
    border-radius: 10px;
}

.client__inner {
    display: flex;
    justify-content: left;
    align-items: center;

    background-color: #EFEFFE;
}

.client__img {
    margin-right: 10.7rem;
}

.client__content {
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.client__star {
    display: flex;
    justify-content: left;
    align-items: center;

    margin-bottom: 1.3rem;
}

.client__comment {
    @include fonts (1.6rem, 400, "Poppins", #222D39);
    
    margin-bottom: 1.3rem;
}

.client__author {
    @include fonts (1.6rem, 500, "Roboto", #000);

    margin-bottom: 1.3rem;
}

.client__manager {
    @include fonts (1.1rem, 500, "Roboto", #000);

    & > a {
        color: #333697;
    }
}

.form {
    transform: translateY(90px);
}

.form__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #333697;

    border-radius: 20px;

    padding: 2.6rem 3.6rem;
}

.form__title {
    @include fonts (2.26rem, 500, "Poppins", #fff);
    margin-bottom: 0.8rem;
}   

.form__text {
    @include fonts (1.2rem, 400, "Open Sans", #fff);
}

.block__input  {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 430px;
    height: 70px;

    background-color: #fff;

    border-radius: 40px;
}

.form__input {
    @include fonts (0.92rem, 400, "Poppins",#000);

    width: 100%;
    height: auto;

    padding: 1rem 0;

    background-color: transparent;
    outline: none;
    border: none;

    padding: 2.3rem 0 2.3rem 1rem;

    &::placeholder {
        @include fonts (0.93rem, 400, "Poppins",#7C7C7C);
    }
}

.form__btn {
    @include fonts (0.93rem, 400, "Poppins", #fff);

    background-color: #333697;
    color:#D3D3D3;

    outline: none;
    border: none;
    border-radius: 40px;


    padding: 1rem 3rem;
    margin-right: 0.8rem;

    transition: background .2s linear, color .2s linear;

    &:hover {
        background-color:#24266A;
        color: #fff;
    }
}

.footer {
    background-color:#EBEBF8;
}

.footer__inner {
    padding: 10rem 0 1rem 0;

    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.footer__item {
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;
}

.footer__logo {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 2.7rem;
}

.footer__img {
    margin-right: 0.8rem;
}

.logo__title {
    @include fonts (1rem, 500, "Poppins",#707070);
}

.footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social__icon {
    border: 1px solid #9C9CA8;
    border-radius: 50px;

    fill: #9C9CA8;

    padding: 0.5rem;
    margin-left: 1.3rem;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: border-color .2s linear, fill .2s linear;

    &:hover {
        border-color: #55555B;
        fill: #55555B;
    }
}

.social {
    height: 1.3rem;
    width: 1.3rem;
}

.footer__title {
    @include fonts (1.3rem, 600, "Poppins",#000000);

    margin-bottom: 2.3rem;
}

.footer__content {
    display: flex;
    justify-content: left;
    flex-direction: column;
}

.footer__text {
    @include fonts (1.6rem, 500, "Poppins",#8A8A8A);
    margin-bottom: 0.8rem;
}

.copyright__inner {
    padding-bottom: 4.8rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.copy__right__text {
    @include fonts (1rem, 400, "Poppins",#677294);

    & a {
        color: #677294;
    }

    & span {
        padding: 0 2.7rem;
    }
}

@import "media.scss";